<footer class="pt-8 pt-md-8 pt-xl-8 position-relative bg-light">
  <div class="container">
      <div class="row" id="accordionFooter">
          <div class="border-top pb-5 pt-6 py-md-4 text-center text-xl-start d-flex flex-column d-md-block d-xl-flex flex-xl-row align-items-center">
              <p class="text-gray-800 font-size-sm-alone d-block mb-0 mb-md-2 mb-xl-0 order-1 order-md-0 px-9 px-md-0">Copyright © 2023 LearnFastTrack. All Right Reserved.</p>

              <div class="ms-xl-auto d-flex flex-column flex-md-row align-items-stretch align-items-md-center justify-content-center">
                  <ul class="navbar-nav flex-row flex-wrap font-size-sm-alone mb-3 mb-md-0 mx-n4 me-md-5 justify-content-center justify-content-lg-start order-1 order-md-0">
                      <li class="nav-item py-2 py-md-0 px-0 border-top-0">
                          <a href="./index.html" class="nav-link px-4 fw-normal text-gray-800">Home</a>
                      </li>
                      <li class="nav-item py-2 py-md-0 px-0 border-top-0">
                          <a href="./terms-of-service.html" class="nav-link px-4 fw-normal text-gray-800">Site Map</a>
                      </li>
                      <li class="nav-item py-2 py-md-0 px-0 border-top-0">
                          <a href="./terms-of-service.html" class="nav-link px-4 fw-normal text-gray-800">Privacy policy</a>
                      </li>
                      <li class="nav-item py-2 py-md-0 px-0 border-top-0">
                          <a href="./terms-of-service.html" class="nav-link px-4 fw-normal text-gray-800">Web Use Policy</a>
                      </li>
                      <li class="nav-item py-2 py-md-0 px-0 border-top-0">
                          <a href="./terms-of-service.html" class="nav-link px-4 fw-normal text-gray-800">Cookie Policy</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>