<header>
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/img/logo.png" alt="Learn Fast Track Logo" /></a>
    </div>
    <nav>
      <ul class="main-menu">
        <li>
          <a href="#">Tutorials</a>
          <ul class="topics-dropdown">
            <% topics.forEach((topic) => { %>
              <li>
                <a href="#"><%= topic.name %></a>
                <ul class="subtopics-dropdown">
                  <% subtopics.filter((subtopic) => subtopic.topic.includes(topic.topic)).forEach((subtopic) => { %>
                    <li><a href="#"><%= subtopic.name %></a></li>
                <% }) %>
                </ul>
              </li>
            <% }); %>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="search">
      <form action="/search" method="GET">
        <input type="text" name="q" placeholder="Search...">
      </form>
    </div>
  </div>
</header>
