<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutorial - LearnFastTrack</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/header') %>

    <main class="tutorial-page">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <!-- List of article names will go here -->
            </div>
            <div class="col-md-6">
              <!-- Current article content will go here -->
            </div>
            <div class="col-md-3">
              <!-- Additional menu and ads will go here -->
            </div>
          </div>
        </div>
      </main>
      
    
    <%- include('partials/footer') %>
    
</body>
</html>
